{% extends "layout.html" %}

{% block title %}Reseptin muokkaus {% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>
<h3>Reseptin muokkaus</h3>
<form action="/update_recipe" method="post">
  <p>
    <label for="title">Otsikko</label>: <br />
    <input type="text" name="title" id="title" value="{{ filled.title }}" maxlength="50" />
  </p>
  <p>
    <label for="description">Kuvaus</label>: <br />
    <textarea name="description" id="description" rows="10" cols="60" maxlength="1000"  >{{ filled.description }}</textarea>
  </p>
  <p>
    <label for="preparation_time">Valmistusaika</label>: <br />
    <input type="text" name="preparation_time" id="preparation_time" size="8" pattern = "[1-9][0-9]{0,2}" value="{{ filled.preparation_time }}" /> min
  </p>
  <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
  {% for class in all_classes %}
    <p>
      <label for="class{{ class }}">{{ class }}</label>: <br />

      {% for option in all_classes[class] %}

        {% if class == "Ruoan tyyppi" %}

          {% if option in classes[class] %}
            <input type="radio"
                  name="category"
                  value="{{ option }}"
                  id="{{ class }}{{ option }}"
                  checked>
          {% else %}
            <input type="radio"
                  name="category"
                  value="{{ option }}"
                  id="{{ class }}{{ option }}">
          {% endif %}

          <label for="{{ class }}{{ option }}">{{ option }}</label>

        {% elif class == "Ruokavalio" %}

          {% if option in classes[class] %}
            <input type="checkbox"
                  name="diet"
                  value="{{ option }}"
                  id="{{ class }}{{ option }}"
                  checked>
          {% else %}
            <input type="checkbox"
                  name="diet"
                  value="{{ option }}"
                  id="{{ class }}{{ option }}">
          {% endif %}

          <label for="{{ class }}{{ option }}">{{ option }}</label>

        {% endif %}

      {% endfor %}
    </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Päivitä resepti">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
{% endblock %}