{% extends "layout.html" %}

{% block title %}Etsi resepti{% endblock %}

{% block content %}
<h2>Etsi resepti</h2>

<form action="/find_recipe" method="get">
    <p>
        <label for="query">Hakusana</label>:
        <input type="text" name="query" id="query" value="{{ query }}">
    </p>
    <input type="submit" value="Etsi">
</form>

{% if query %}
{% if results %}
<h3>Tulokset</h3>

    <ul>
        {% for recipe in results %}
        <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
{% else %} <p>Hakusanalla "{{ query }}" ei löytynyt reseptejä.</p>
{% endif %}
{% endif %}
{% endblock %}