{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Kirjaudu sisään</h2>

<form action="/login" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

  <p>
    <label for="username">Tunnus</label>: <br />
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password">Salasana</label>: <br />
    <input type="password" name="password" id="password" />
  </p>

  {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
  {% else %}
    <input type="hidden" name="next_page" value="/" />
  {% endif %}

  <input type="submit" value="Kirjaudu" />
</form>
{% endblock %}