{% extends "layout.html" %}

{% block title %} Uusi resepti {% endblock %}

{% block content %}
<h2>Uusi resepti</h2>
<form action="/create_recipe" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" value="{{ filled.title }}" required>
  </p>
  <p>
    <label for="description">Kuvaus</label>: <br />
    <textarea name="description" id="description" rows="10" cols="60" maxlength="1000" required>{{ filled.description }}</textarea>
  </p>
  <p>
    <label for="preparation_time">Valmistusaika</label>: <br />
    <input type="text" name="preparation_time" id="preparation_time" size="8" pattern = "[1-9][0-9]{0,2}" value="{{ filled.preparation_time }}" required /> min
  </p>

  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    {% for option in classes[class] %}
      {% if class == "Ruoan tyyppi" %}
        <input type="radio"
              name="category"
              value="{{ option }}"
              id="{{ class }}{{ option }}">
        <label for="{{ class }}{{ option }}">{{ option }}</label>

      {% elif class == "Ruokavalio" %}
        <input type="checkbox"
              name="diet"
              value="{{ option }}"
              id="{{ class }}{{ option }}">
        <label for="{{ class }}{{ option }}">{{ option }}</label>
      {% endif %}
    {% endfor %}
  </p>
  {% endfor %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo resepti">
</form>
{% endblock %}