{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>
{% if session.user_id == recipe.user_id%}
<p>
    <a href = "/edit_recipe/{{ recipe.id}}">Muokkaa</a>
    <a href = "/remove_recipe/{{ recipe.id}}">Poista</a>
</p>
{% endif %}
<p>
    {{ recipe.description | show_lines }}
</p>
<p>
    Valmistusaika: {{ recipe.preparation_time }} min
</p>
<p>
    Ilmoittaja:  <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
</p>
{% if classes %}
<p>
    Luokat:
    <ul>
        {% for class in classes %}
        <li>{{ class.title}}: {{ class.value }}</li>
        {% endfor %}
    </ul>
</p>
{% endif %}
<h3>Arvostelut</h3>

{% if average_grade %}
<p>Arvostelujen keskiarvo: {{ "%.1f"|format(average_grade) }} / 10</p> {% endif %}

<ul>
    {% for comment in comments %}
    <li>{{ comment.comment }} , {{ comment.grade }} - <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></li>
    {% endfor %}
</ul>
{% if session.user_id %}
    <h3>Uusi arvostelu</h3>
    <form action="/create_comment" method="post">
        <label for="grade">Arvosana (1-10):</label><br>
        <input type="text" name="grade" id="grade" maxlength="2" size="4" pattern="^(10|[1-9])$" value="{{ filled.grade }}" required/>

        <br><br>

        <label for="comment">Kommentti:</label><br>
        <textarea name="comment" id="comment" rows="5" cols="30" maxlength="400" required>{{ filled.comment }}</textarea>
        <input type="hidden" name="recipe_id" value ="{{ recipe.id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä kommentti"/>
    </form>
{% endif %}
{% endblock %}